<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Stock Scout | Ai Agent Based Stock Market Analysis</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-icons.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">      
    </head>    
    <body id="top">
        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <i class="bi-back"></i>
                        <span>Stock Scout</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="explore-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-4">Browse Tasks</h1>
                        </div>

                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                    <div class="row">
                                        {% for task in tasks %}
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                    <div class="d-flex">
                                                        <div>
                                                            <p class="mb-2 text-muted" style="color: gray !important; font-size: 12px">{{ task.task_id }}<span class="float-end">{{ task.created_at | date:"d/m/Y, H:i" }}</span></p>
                                                            <p class="mb-2" style="color: black !important;">{{ task.question | default:"No question" }}</p>
                                                            <hr />
                                                            <h6 class="mb-0" style="font-size: 16px !important;">{{ task.response|default:"Task not completed" }}</h6>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>
        <script src="/static/js/click-scroll.js"></script>
        <script src="/static/js/custom.js"></script>
    </body>
</html>
